@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}

@media (min-width: 1024px) {
  header {
    width: 100%;
    .navbar {
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 1.5rem 4rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .nav-list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 3rem;
      li {
        a {
          font-size: 1.1rem;
          transition: color 0.3s ease;
          i{
            font-size: 2rem;
          }
          img {
            width: 3.5rem;
            transition: transform 0.3s ease;
            &:hover {
              transform: scale(1.1);
            }
          }
          img#profile {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
  div#txt-head {
    text-align: center;
    font-family: "Inknut Antiqua", serif;
    color: white;
    p {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.5rem;
      text-align: center;
    }
    h2 {
      padding: 1rem 0;
    }
  }
  .caroussel {
    div.img-bkd {
      overflow: hidden;
      position: absolute;
      transform: scaleX(-1);
      top: 30%;
      right: 10%;
      img {
        width: 60%;
      }
    }
    div.img-bkg {
      overflow: hidden;
      position: absolute;
      top: 30%;
      left: 10%;
      img {
        width: 60%;
      }
    }
    div#text-caroussel {
      top: 45%;
      left: 50%;
      p {
        font-size: 1.2rem;
      }
    }
    figure {
      bottom: 30%;
      .image-wrapper {
        width: 20rem;
        height: 20rem;
      }
    }
    div#circle_point {
      z-index: 0;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      border: 3px solid white;
      width: 25rem;
      height: 25rem;
      border-radius: 50%;
      #circle3 {
        top: 5%;
        left: 75%;
      }
      #circle1 {
        top: 42%;
        left: -4%;
      }
      #circle4 {
        top: 47%;
        right: -4.5%;
      }
      #circle2 {
        top: 4%;
        left: 18%;
      }
    }
  }
  div#circle.circle_desktop {
    bottom: 7%;
    left: 50%;
    width: 20rem;
    height: 20rem;
    border: 3px solid rgba(255, 0, 0, 0);
  }
  div#arrow-left.arrow-left-desk {
    left: 25%;
  }
  div#arrow-right.arrow-right-desk {
    right: 25%;
  }
  section#price-list {
    min-height: 100vh;
    padding: 2rem 11rem;
    div.logo {
      img {
        width: 5rem;
      }
    }
    div#title-price {
      text-align: center;
      color: white;
      h1 {
        font-family: "Inknut Antiqua", serif;
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    div.price-card {
      flex-direction: row;
      width: fit-content;
      align-items: flex-end;
      gap: 2rem;

      div.card {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        width: 11rem;
        height: 30rem;
        border: 2px solid white;
        border-radius: 5px;
        background: linear-gradient(to bottom, #0c0211 0%, #9b19e7 100%);
        &:nth-child(2) {
          height: 35rem;
          margin-bottom: 0.5rem;
        }
        h2 {
          font-family: "Inknut Antiqua", serif;
          font-size: 1.8rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  //CONTACT PAGE
  main#contact {
    div#flex-contact {
      margin-top: 5rem;
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      section#contact-form {
        width: 30rem;
        form {
          font-family: "Inknut Antiqua", serif;
          align-items: center;
          label {
            font-size: 1.4rem;
            color: white;
          }
          input,
          select,
          textarea {
            font-size: 1rem;
            border-radius: 5px;
            border: none;
            margin: 0.2rem;
            padding: 0.2rem 2rem;
          }
          div.input-container {
            display: flex;
            justify-content: space-between;
          }
          button {
            width: 10rem;
            font-family: "Inknut Antiqua", serif;
            background-color: black;
            color: white;
            padding: 0rem 1rem;
            border: 4px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(
              45deg,
              #f093fb,
              #f5576c,
              #4facfe,
              #43e97b
            );
            cursor: pointer;
            transition: background 0.5s ease, color 0.5s ease;
            position: relative;
            z-index: 1;
            display: block;
            margin: 1rem auto;
          }

          button:hover {
            background: linear-gradient(
              45deg,
              #f093fb,
              #f5576c,
              #4facfe,
              #43e97b
            );
            color: black;
          }
        }
      }
      div.menu {
        z-index: 5;
        position: absolute;
        top: 65%;
        left: 61%;
      }

      div.toggle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: 5rem;
        background: #333;
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 10;
        transition: transform 0.5s;
      }

      .social-links {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5rem;
        height: 5rem;
        transform: translate(-50%, -50%);
      }

      .social-links li {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate(calc(90deg * var(--i))) translateX(80px);
        transform-origin: 0 0; /* point de rotation au centre exact du bouton */
        transition: transform 0.5s ease, opacity 0.5s ease;
        opacity: 0;
      }

      .menu.active .social-links li {
        transform: rotate(calc(90deg * var(--i))) translateX(80px);
        opacity: 1;
      }

      .social-links li a {
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        text-decoration: none;
      }
      div#contact-infos {
        position: relative;
        width: 50rem;
        img#appareil-photo {
          position: absolute;
          top: 4%;
          left: 60%;
          transform: translateX(-50%);
          width: 30rem;
          height: 30rem;
          border-radius: 100%;
          object-fit: cover;
        }
        iframe#map {
          z-index: 1;
          position: absolute;
          border-radius: 20px;
          width: 15rem;
          height: 15rem;
          left: 60%;
          top: -15%;
        }
      }
    }
  }
}

@media (min-width: 1920px) {
  header {
    .navbar {
      padding: 1.5rem 8rem;
    }
    .nav-list {
      gap: 4rem;
      li {
        a {
          font-size: 1.2rem;
          img {
            width: 4rem;
          }
        }
      }
    }
  }
  .caroussel {
    div#text-caroussel {
      top: 40%;
      left: 50%;
      p {
        font-size: 1.5rem;
      }
    }
    figure {
      bottom: 35%;
      .image-wrapper {
        width: 25rem;
        height: 25rem;
      }
    }
    div#circle_point {
      z-index: 0;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      border: 3px solid white;
      width: 32rem;
      height: 32rem;
      border-radius: 50%;
    }
    div#circle_point {
      #circle3 {
        top: 5%;
        left: 75%;
      }
      #circle1 {
        top: 45%;
        left: -3.5%;
      }
      #circle4 {
        top: 50%;
        left: 97%;
      }
      #circle2 {
        top: 6%;
        left: 18%;
      }
    }
  }
}

#homepage {
  height: 100vh;
}
.englob{
  background: radial-gradient(circle, rgb(210, 191, 235) 0%, #a94ddf 100%);
}
header {
  border-bottom: #33333327 solid 1px;
  overflow-x: hidden;
  transition: background-color 0.5s ease;
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    li {
      a {
        color: white;
        &:hover i{
          color: #aa4ddf9f;
        }
        i{
          transition: all 0.3s ease;
          font-size: 1.5rem;
          color: white;
        }
        img {
          width: 3rem;
          object-fit: cover;
        }
        img#profile {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
      }
    }
  }
}

#txt-head {
  text-align: center;
  font-family: "Inknut Antiqua", serif;
  color: white;
  p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
  }
  h2 {
    padding: 1rem 0;
  }
}
.caroussel {
  position: relative;
  min-height: 100vh;
  transition: background-color 0.5s ease;
  #text-caroussel {
    position: absolute;
    top: 56%;
    left: 50%;
    text-align: center;
    p {
      font-size: 0.9rem;
      color: white;
    }
  }
  .img-bkd {
    overflow: hidden;
    position: absolute;
    transform: scaleX(-1);
    top: 35%;
    right: 0;
    img {
      width: 40%;
    }
  }
  .img-bkg {
    overflow: hidden;
    position: absolute;
    top: 35%;
    left: 0;
    img {
      width: 40%;
    }
  }
  #arrow-left {
    z-index: 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    left: 5%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    i {
      position: absolute;
      top: 40%;
      left: 40%;
    }
  }
  #arrow-right {
    z-index: 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    right: 5%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
    i {
      position: absolute;
      top: 40%;
      left: 40%;
    }
  }
  #circle_point {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
    width: 19rem;
    height: 19rem;
    border-radius: 50%;
    div {
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.623);
      opacity: 0;
      transition: opacity 0.3s ease;
      &.visible {
        opacity: 1;
      }
    }
    #circle3 {
      top: 1%;
      left: 70%;
    }
    #circle1 {
      top: 39%;
      left: -5%;
    }
    #circle4 {
      top: 42%;
      left: 95%;
    }
    #circle2 {
      top: 1%;
      left: 18%;
    }
  }
}

figure {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  .image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 15rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    pointer-events: none;

    &.active {
      opacity: 1;
      z-index: 2;
      pointer-events: auto;
    }

    &.animate-in {
      animation: spinIn 1.2s ease forwards;
      z-index: 2;
    }

    &.animate-out {
      animation: spinOut 1.2s ease forwards;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

#price-list {
  background: radial-gradient(circle, rgb(210, 191, 235) 0%, #a94ddf 100%);
  min-height: 100vh;
  padding: 1rem;
  .logo {
    img {
      width: 3rem;
      height: auto;
    }
  }
  #title-price {
    text-align: center;
    color: white;
    h1 {
      font-family: "Inknut Antiqua", serif;
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  .price-card {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    color: white;
    .card {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: space-around;
      width: 10rem;
      height: 30rem;
      border: 2px solid white;
      border-radius: 5px;
      background: linear-gradient(to bottom, #0c0211 0%, #9b19e7 100%);
      h2 {
        font-family: "Inknut Antiqua", serif;
        font-size: 1.5rem;
      }
      .price {
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 9rem;
        }
        p {
          position: relative;
        }
      }
      button {
        font-family: "Inknut Antiqua", serif;
        font-size: 1.1rem;
        align-self: center;
        background-color: black;
        color: white;
        width: 90%;
        padding: 0rem 1rem;
        border: 4px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          45deg,
          #f093fb,
          #f5576c,
          #4facfe,
          #43e97b
        );
        cursor: pointer;
        transition: background 0.5s ease, color 0.5s ease;
        position: relative;
        z-index: 1;
      }

      button:hover {
        background: linear-gradient(45deg, #f093fb, #f5576c, #4facfe, #43e97b);
        color: black;
      }
    }
  }
}

#contact {
  min-height: 100vh;
  #flex-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    #contact-form {
      width: 20rem;
      height: fit-content;
      background: rgba(255, 255, 255, 0.1);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      padding: 2rem;
      border-radius: 15px;
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      form {
        font-family: "Inknut Antiqua", serif;
        align-items: center;
        label {
          color: white;
          text-transform: capitalize;
        }
        select,
        textarea {
          cursor: pointer;
        }
        input,
        select,
        textarea {
          padding: 0.8rem;
          border-radius: 8px;
          border: 2px solid rgba(255, 255, 255, 0.2);
          background: rgba(255, 255, 255, 0.1);
          color: black;
          margin-bottom: 1rem;
          transition: all 0.3s ease;
        }
        .input-container {
          display: flex;
          justify-content: space-between;
        }
        button {
          width: 10rem;
          font-family: "Inknut Antiqua", serif;
          background-color: black;
          color: white;
          padding: 0rem 1rem;
          border: 4px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(
            45deg,
            #f093fb,
            #f5576c,
            #4facfe,
            #43e97b
          );
          cursor: pointer;
          transition: background 0.5s ease, color 0.5s ease;
          position: relative;
          z-index: 1;
          display: block;
          margin: 1rem auto;
        }

        button:hover {
          background: linear-gradient(
            45deg,
            #f093fb,
            #f5576c,
            #4facfe,
            #43e97b
          );
          color: black;
        }
      }
    }
    .menu {
      z-index: 5;
      position: absolute;
      top: 70%;
      left: 20%;
    }

    .toggle {
      position: absolute;
      width: 50px;
      height: 50px;
      background: #333;
      color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;
      transition: transform 0.5s;
    }

    .social-links {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }

    .social-links li {
      position: absolute;
      left: 0;
      top: 0;
      transform: rotate(calc(90deg * var(--i))) translateX(80px);
      transform-origin: 25px 25px;
      transition: transform 0.5s ease, opacity 0.5s ease;
      opacity: 0;
    }

    .menu.active .social-links li {
      transform: rotate(calc(90deg * var(--i))) translateX(80px) scale(1);
      opacity: 1;
    }

    .social-links li a {
      width: 3rem;
      height: 3rem;
      background: rgba(0, 0, 0, 0.308);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      text-decoration: none;
      font-size: 1.5rem;
    }
    #contact-infos {
      position: relative;
      min-height: 100vh;
      #appareil-photo {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        width: 18rem;
        height: 18rem;
        border-radius: 100%;
        object-fit: cover;
      }
      #map {
        z-index: 1;
        position: absolute;
        border-radius: 20px;
        width: 10rem;
        height: 10rem;
        right: 5%;
        top: 10%;
      }
    }
  }
}

@keyframes spinOut {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

@keyframes spinIn {
  0% {
    transform: translate(-50%, -50%) rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
}
